@font-face {
  font-family: 'Pressstart2p';
  src: url('../Assets/fonts/pressstart2p.woff2') format('woff2'),
       url('../Assets/fonts/pressstart2p.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


#canvas {
  border: 1px black dotted
}
